<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For suggestions. -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
                     tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- For battery state. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To uninstall apps. -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <!-- Weird permission thing. -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:ignore="AllowBackup">

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_legacy"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:theme="@style/HomeTheme"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inipage.homelylauncher.HomeActivity" />
        </activity>

    </application>
</manifest>